:root{
    width: 300px;
    height: 520px; 
    box-sizing: border-box;
    background-color: #EAEAEA;
    font-family: 'Inter';
}


body {

}

/* Header */
header{
    position: absolute;
    width: 300px;
    height: 75px;
    left: 0px;
    top: 0px;
    
}



.body { 
/* Body */
    position: absolute;
    width: 300px;
    height: 365px;
    left: 0px;
    top: 77px;
}

/* Icon face */
.icon{
    position: absolute;
    width: 40px;
    height: 40px;
    left: 10px;
    top: calc(50% - 40px/2 + 0.5px);
}

.logo{
    position: absolute;
    width: 30.8px;
    height: 40px;
    left: 5px;
    top: calc(50% - 40px/2 - 2px);
}



/* Extention name */
.extension-name{
    position: absolute;
    width: 224px;
    height: 75px;
    right: 16px;
    top: 0px;
    align-items: center;
    justify-content: center;
    display: flex;

}



/* Web Novel Crawler */
.web-novel-crawler{
    font-size: 24px;
    line-height: 24px;
    text-align: center;
    color: #464646;
}

